@model IEnumerable<GestionVentesMVC6.Models.Vente>

@{
    ViewData["Title"] = "Liste des ventes";
}

<h2>Liste des ventes</h2>

<p>
    <a asp-action="Create">Ajouter une vente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compagnie.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontantPrimeTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PourcentageCommission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compagnie.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontantPrimeTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PourcentageCommission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
